## Data Structures

### List

In [1]:
# List creation
new_list = []
new_list1 = list()
print(new_list)
print(new_list1)

[]
[]

In [3]:
# Type of list
type(new_list)
type(new_list1)

list

In [4]:
# List of numbers
nums = [1, 2, 3, 4, 5]
nums1 = list((10, 20, 30, 40))
print(type(nums))
print(type(nums1))

<class 'list'>
<class 'list'>

In [6]:
# List of strings
# Colors
colors = ['red', 'yellow', 'black', 'green']
print(colors)

['red', 'yellow', 'black', 'green']

In [7]:
# Multiple types in a list
mixed_lst = [1, 'Blue', 'Andrew', 3.5]
print("Mixed list: ", mixed_lst)

Mixed list:  [1, 'Blue', 'Andrew', 3.5]

In [9]:
# List in a list
nums = [1, [2, 3, 4], 5, 6, [8.4, 9.8]]
print(nums)

[1, [2, 3, 4], 5, 6, [8.4, 9.8]]

In [16]:
# Accessing list items with index number
print(nums[2])

5

In [17]:
# Accessing each list element
for i in nums:
    print(i)

1
[2, 3, 4]
5
6
[8.4, 9.8]

In [18]:
# We use the len() function to determine the length of a list
len(nums)

5

In [19]:
# Obtaining the first 3 elements
nums[0:3] # The upper bound is excluded from the output

[1, [2, 3, 4], 5]

In [39]:
# You can also use the following to obtain a range of list elements
nums[:3]

[1, [2, 3, 4], 5]

In [38]:
# You can also use the following to obtain a range of list elements
nums[3:] # Lower bound included in the output

[6, [8.4, 9.8]]

In [25]:
# We use negative indexing to obtain the elements from the last element in the list. Beginning -1
nums[-1] # Output: [8.4, 9.8]

[8.4, 9.8]

In [28]:
nums[-1]

[8.4, 9.8]

In [30]:
print(colors)
# Test whether a given element is in the list
'white' in colors # Prints False, white is not in colors

['red', 'yellow', 'black', 'green']

False

In [31]:
# Add an element into the list we use
# Use either the append() method or the insert() method
# append: Add white color into colors
colors.append('White') # Adds the white color as the last element of the list colors
# insert(): Adds an element into a list at a specified index
colors.insert(0, "violet") # Adds violet to the first index in the list pushing red to the 2nd  index

In [32]:
print(colors) # Print a list of colors  together with the added elements(white & violet)

['violet', 'red', 'yellow', 'black', 'green', 'White']

In [33]:
# Removing items from a list we use the pop() method. Removes  the last element of the list
# Or specifying the index to remove the specific element
colors.pop() # removes white color that is the last element
print(colors)
colors.pop(3) # removes the element at index 3, that is black
print(colors)

['violet', 'red', 'yellow', 'black', 'green']
['violet', 'red', 'yellow', 'green']

In [35]:
# Adding more than one element into a list
# We use the extend() method.
# Elements added are added to the last index on
# Add colors: orange, indigo and purple to the colors list
colors.extend(["orange", "indigo", "purple"])
print(colors)

['violet', 'red', 'yellow', 'green', 'orange', 'indigo', 'purple']

In [36]:
# Deleting an element from the list
# we use the del keyword
del colors[4] # deletes the color at index 4(orange)
print(colors)

['violet', 'red', 'yellow', 'green', 'indigo', 'purple']

In [37]:
# Change the value of an element in a list
# We assign an element to a given list index
# Example changing color red to pink
colors[1] = 'pink'
print(colors)

['violet', 'pink', 'yellow', 'green', 'indigo', 'purple']

### Tuples

In [40]:
# Creating tuples
nums = tuple((1,2,3,4))
nums1 = (1, 2, 3, 4, 5, 6, 7)

In [44]:
print(type(nums))
print(type(nums1))

<class 'tuple'>
<class 'tuple'>

In [45]:
type(nums)

tuple

In [46]:
# Length of a tuple
len(nums)

4

In [47]:
# Accessing items from a tuple using indexes
nums1[0:3] # Upper bound not included in the output

(1, 2, 3)

In [48]:
# Tuples are immutable, you can not change the value of the element in the tuple
nums[0] = 3

TypeError: 'tuple' object does not support item assignment

In [49]:
# check if an item exists in a tuple
fruits = ("melon", "mango", "kiwi")
"kiwi" in fruits # Prints True, since kiwi exists in fruits

True

In [50]:
# using 'not in'
'kiwi' not in fruits # False

False

In [52]:
# deleting the tuple since tuples do not support item deletion
del fruits

In [53]:
fruits

NameError: name 'fruits' is not defined

### Dictionaries

In [54]:
# Create a dictionary
new_dic = {"Ronaldo": 36, "Messi":34, "Salah":27}
new_dic1 = dict({'Danny':33,'Sane':24, 'Sam':30})

In [55]:
# Testing for type
print(type(new_dic))
print(type(new_dic1))

<class 'dict'>
<class 'dict'>

In [56]:
type(new_dic)

dict

In [59]:
# Sequence of tuples
children = dict({
    ('child1','5'),
    ('child2', '6'),
    ('child3', '7')
})

In [60]:
type(children)

dict

In [61]:
# Accessing dictionary values, we use the key
new_dic['Ronaldo']

36

In [62]:
# Assigning a new value to a dictionary value using key
new_dic['Messi'] = 23

In [63]:
new_dic['Messi']

23

In [64]:
# Remove a dictionary element we use the 'del' keyword
del new_dic['Messi'] # deletes Messi
new_dic

{'Ronaldo': 36, 'Salah': 27}

In [65]:
# Check for an item in dictionary
'Messi' in new_dic # False

False

### Sets

In [67]:
# Creating a set
new_set = {2, 4, 10, 20, 30}
new_set1 = set((23,27,29,31,33))

In [68]:
print(type(new_set))
print(type(new_set1))

<class 'set'>
<class 'set'>

In [70]:
# Printing sets
print(new_set)
print(new_set1)

{2, 4, 20, 10, 30}
{33, 23, 27, 29, 31}

In [71]:
# Converting a string type into a set
set('Limit')

{'L', 'i', 'm', 't'}

In [72]:
# using a dictionary to store set elements
m = set({1: 'name', 2: 'age'})

In [73]:
type(m)

set

In [74]:
# Deleting a whole set we use the del keyword
del new_set

In [75]:
new_set

NameError: name 'new_set' is not defined