## Pandas

### Pandas fo Data Analysis

In [1]:
# First import pandas
import pandas as pd

In [2]:
# Creating a series
new_s = pd.Series([10, 20, 30, 40])

In [3]:
new_s

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# Another series with a set index instead of the defaukt
put_index = pd.Series([50, 60, 70, 80], index = ['a', 'b', 'c', 'd'])

In [6]:
put_index

a    50
b    60
c    70
d    80
dtype: int64

In [8]:
# Pandas Data Frame
# Data frame has two dimensions that is  it has rows and columns
# Example a data frame with three lists

colors = ["red", "green", "black", "yellow"]
degrees = [100, 120, 60, 75]
numbers = [24, 26, 28, 30]

# Create a dataframe
new_df = pd.DataFrame({"colors": colors, "degrees":degrees, "numbers": numbers},
                       columns =["colors", "degrees", "numbers"],
                              index = range(1, 5))

In [9]:
new_df

   colors  degrees  numbers
1     red      100       24
2   green      120       26
3   black       60       28
4  yellow       75       30